@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600&family=Space+Grotesk:wght@700&display=swap');

@import 'partials/variables';
@import 'partials/typography';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    color: $white;
    min-height: 100vh;
}


@import 'partials/main';