main {
    min-height: inherit;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

    .main-container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 15px;

        @media (max-width: 510px) {
            justify-content: space-between;
            padding: 0;
        }
        
        .main-title {
            text-align: center;

            @media (max-width: 510px) {
                margin-top: 45px;
            }
        }

        .movie-info {
            margin-bottom: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;
            padding: 0px 20px;

            @media (max-width: 510px) {
                gap: 20px;
                margin-bottom: 0;
                background-color: $black;
                padding: 32px;
                border-radius: 16px 16px 0px 0px;
            }

            .movie-cover {
                width: 224px;
                height: 280px;

                @media (max-width: 510px) {
                    display: none;
                }

                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .movie-extra {
                max-width: 722px;

                .movie-stars {
                    display: flex;
                    gap: 12px;

                    @media (max-width: 510px) {
                        gap: 6px;
                    }

                    img {
                        
                        @media (max-width: 510px) {
                            width: 19px;
                            height: 19px;
                        }
                    }
                }

                .movie-duration-star {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 42px;

                    @media (max-width: 510px) {
                        gap: 12px;
                        margin: 32px 0 55px 0;
                        width: 100%;
                    }

                    @media (max-width: 370px) {
                        padding-top: 15px;
                    }

                    .movie-duration {
                        display: flex;
                        align-items: center;
                        font-weight: 600;

                        img {
                            @media (max-width: 510px) {
                                width: 19px;
                                height: 19px;
                            }
                        }

                        p {
                            padding-left: 15px;
                        }
                    }
                }

                .group-buttons {
                    margin-top: 50px;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: flex;
                    gap: 32px;

                    @media only screen and (min-device-width: 511px) and (max-device-width: 1024px) {
                        align-items: center;
                        justify-content: center;
                    }

                    @media (max-width: 510px) {
                        flex-direction: column;
                        text-align: center;
                    }

                    .watch-now,
                    .trailer {
                        border-radius: 3px;
                        transition: all 0.4s ease;
                        padding: 16px 32px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .watch-now {
                        background: $blue;
                    }

                    .trailer {
                        background: $black;
                        border: 1px solid $white;

                        @media (max-width: 370px) {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
}
